<h1>Welcome Grmers to Geek Republic Media! This page is a one stop shop for all things related to GRM and its community</h1>
<br />
<br />
<h2>Weather of The Nerd Kingdom</h2>
<p>current temperature: <%=@current_weather.temperature%></p>
<p>current conditions: <%=@current_weather.weather_text%></p>